<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
  <meta charset="UTF-8">
  <title>Wesbhop</title>
  <link rel="stylesheet" href="main.css" type="text/css">
</head>
<body>
<table>
  <tr>
    <td>
      <a href="/only-available"> Only available </a>
    </td>
    <td>
      <a href="/cheapest-first"> Cheapest first </a>
    </td>
    <td>
      menu3
    </td>
    <td>
      menu4
    </td>
  </tr>
</table> <!-- main menu -->
<table>
  <tr>
    <td th:text="'Average stock: ' + ${#numbers.formatDecimal(average, 0, 'COMMA', 2, 'POINT')}"></td>
  </tr>
</table>
</body>
</html>