<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
  <meta charset="UTF-8">
  <title>Webshop</title>
  <link rel="stylesheet" href="main.css" type="text/css">
</head>
<body>

<div id="header">
  <h1 class="text"><a href="/webhsop"> My Bestest Shop </a></h1>

  <form action="/search" method="post" class="searhFormInHeader">
    <input type="text" id="search" name="search" placeholder="Search...">
    <button type="submit"><img src="pics/search.png" width="20" height="20"></button>
  </form>
</div>

<a href="/more-filters"> More filters </a>

<table class="centerMenu">
  <tr>
    <td>
      <span class="mainMenu"> <a href="/only-available"> Only available </a> </span>
    </td>
    <td>
      <span class="mainMenu"> <a href="/cheapest-first"> Cheapest first </a> </span>
    </td>
    <td>
      <span class="mainMenu"> <a href="/most-expensive"> Most expensive</a> </span>
    </td>
    <td>
      <span class="mainMenu"> <a href="/averageStock"> Average stock</a> </span>
    </td>
  </tr>
</table> <!-- main menu -->

  <table class="centerItems">
    <tr>
      <td th:text="${mostExpensiveOne.name}"></td>
      <td th:text="${mostExpensiveOne.price}"></td>
    </tr>
  </table>
</table>
</body>
</html>

